/* Remove ugly background and border from contents directive */
.contents {
    background-color: white !important;
    border: none            !important;
}

/* Do not change link color once visited */
a:link, a:visited {
    color: #CA7900;
}