sudo: false
language: python
dist: trusty
matrix:
  include:
  - python: 2.6
  - python: 2.7
  - python: 3.3
  - python: 3.4
  - python: 3.5
  - python: 3.6
  - python: 3.7
    dist: xenial
install:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.3 ]]; then
      pip install virtualenv==15.2.0;
      pip install pluggy==0.5.2;
      pip install tox==2.9.1;
    fi
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then
      pip install tox==3.7.0;
    fi
  - pip install tox-travis
script:
  - tox
